.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.nav-bar div {
  border: 1px #ccc solid;
  padding: 2px;
  
}
.aa {
  border: 2px #ccc solid;
  padding: 2px;
}
.bb {
  border: 2px #ccc solid;
  padding: 2px;
}
.addItem {
  height: 80px;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDetailes {
  height: 50%;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.itemDetailes input {
  height: 40px;
}
.itemDetailes button {
  height: 40px;
}
.chooseCastumer {
  height: 50%;
  background-color: dodgerblue;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.drop-select {
  font-size: small;
  max-height: 45px;
}

.itemList {
  height: auto;

  border-color: black;
  width: 100%;
  display: grid;
  max-width: 95%;
  align-items: center;
  /* padding-top: 50px; */
  flex-direction: column;
}

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.delete:hover {
  transform: scale(1.05);
  background-color: azure;
  color: red;
}
.edit:hover {
  transform: scale(1.05);
  background-color: aqua;
  color: blue;
}
